/* GENERAL STYLES */

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&family=Montserrat:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
}
button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
:root {
  --light-bg: #fafafa;
  --light-var1: #f9f1f0;
  --light-var2: #eaeaea;
  --light-accent: #550055;
  --light-grad: linear-gradient(
    305.88deg,
    #f8b961 32.6%,
    rgba(253, 209, 148, 0.46) 100%
  );
  --light-grad-alt: linear-gradient(
      305.88deg,
      #f8b961 32.6%,
      rgba(253, 209, 148, 0.46) 100%
    ),
    #ffffff;
  --light-font: #000000;
  --dark-bg: #060d0dfa;
  --dark-var1: #1c1f1f;
  --dark-var2: #323737;
  --dark-accent: #d6ad60;
  --dark-grad: linear-gradient(
    102.22deg,
    #140814 7.3%,
    rgba(17, 8, 13, 0.867217) 61.52%,
    rgba(16, 8, 9, 0.800412) 76.53%,
    rgba(27, 18, 6, 0.9) 90.77%
  );
  --dark-font: #ffffff;
}

h1 {
  font-weight: 700;
  font-size: 67.34px;
  letter-spacing: -0.015em;
  font-family: "Comfortaa", cursive;
}

h2 {
  font-weight: 600;
  font-size: 50.52px;
  letter-spacing: -0.015em;
  font-family: "Comfortaa", cursive;
}

h3 {
  font-weight: 500;
  font-size: 37.9px;
  letter-spacing: -0.015em;
  font-family: "Montserrat", sans-serif;
}

h4 {
  font-weight: 500;
  font-size: 28.43px;
  letter-spacing: -0.015em;
  font-family: "Montserrat", sans-serif;
}

h5 {
  font-weight: 500;
  font-size: 21.33px;
  letter-spacing: -0.015em;
  font-family: "Montserrat", sans-serif;
}

p {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.015em;
}

/* TEST STYLES */

.faq_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 75vw;
  margin: auto;
}

.faq_wrap h2 {
  padding-top: 48px;
}

.faq_item {
  cursor: pointer;
  width: 100%;
  border-bottom: 1px solid black;
}

.faq_item_align {
  align-items: center;
  display: flex;
  min-height: 10px;
  text-align: left;
  padding: 24px 0;
  transition: all 0.6s ease;
}

.faq_item_align_border {
  box-shadow: 0 1px 0 #000;
}

.faq_item_align h4 {
  margin-left: 8px;
  width: 100%;
}

.faq_icon {
  background: none;
  border: none;
  color: var(--light-accent);
  cursor: pointer;
  font-size: 2rem;
  margin-left: auto;
  margin-right: 8px;
  transition: all 0.6s ease;
}

.faq_icon_rotate {
  transform: rotate(45deg);
}

.faq_answer_divider {
  padding: 36px 0;
  display: flex;
  align-items: center;
  transition: all 0.6s ease;
}

.faq_answer {
  margin-left: 8px;
  margin-right: 8px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.6s ease;
  text-align: left;
}
